/* Page Background */
.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: linear-gradient(to right, #f4f6f9, #e9ecef);
}

/* Card */
.signin-card {
  background: white;
  padding: 35px;
  width: 340px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}

.signin-card:hover {
  transform: translateY(-5px);
}

/* Title */
.signin-card h2 {
  margin-bottom: 25px;
  color: #28a745;
}

/* Inputs */
.signin-card input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.signin-card input:focus {
  border-color: #28a745;
}

/* Password field */
.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 20px;
  cursor: pointer;
}

/* Button */
.signin-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
  background: #218838;
}

/* Register text */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text span {
  color: #28a745;
  font-weight: bold;
  cursor: pointer;
}
